## Fijar el absolute path un directorio arriba

In [31]:
import sys
import os

# Add project root to Python path
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if project_root not in sys.path:
    sys.path.append(project_root)

-----

In [32]:
import pandas as pd
from asignacion.base import AsignacionBase
from asignacion.nuevosyantiguos import AsignacionNuevosAntiguos
from asignacion.antiguos import AsignacionAntiguos
from asignacion.nuevos import AsignacionNuevos
from asignacion.cerrados import AsignacionCerrados

In [33]:
pd.set_option('display.float_format', '{:,.2f}'.format)

## Constantes

In [34]:
NOMBRE_ARCHIVO_HABILITADOS = "Habilitados final 26052025.xlsx"
NOMBRE_ARCHIVO_COMPLEMENTARIO = "Base final - Oferta Activa.pkl"

## Ejecuci√≥n

In [35]:
asignacion_base = AsignacionBase()

In [36]:
asignacion_base.validar_datos(NOMBRE_ARCHIVO_HABILITADOS)

Los errores quedaron logeados en: ..\output\logs\validacion.log

C:\Users\maxal\Documents\Atenea\Asignacion-EFT-OOP\asignacion\base.py:134: UserWarning: Existen columnas con espacios adicionales
  warnings.warn("Existen columnas con espacios adicionales", category=UserWarning)
C:\Users\maxal\Documents\Atenea\Asignacion-EFT-OOP\asignacion\base.py:158: UserWarning: Existen columnas indispensables con valores nulos
  warnings.warn("Existen columnas indispensables con valores nulos", category=UserWarning)
C:\Users\maxal\Documents\Atenea\Asignacion-EFT-OOP\asignacion\base.py:169: UserWarning: Existen columnas indispensables con tipado no adecuado
  warnings.warn("Existen columnas indispensables con tipado no adecuado", category=UserWarning)

In [37]:
rutas = asignacion_base.crear_rutas(NOMBRE_ARCHIVO_HABILITADOS, NOMBRE_ARCHIVO_COMPLEMENTARIO)

La llave es: codigo_programa. Ver diccionario para mayor detalle.
Programas que cruzaron: 39
Programas que NO cruzaron: 6

In [38]:
rutas.keys()

dict_keys(['Antiguos', 'Nuevos', 'Grupos cerrados'])

## Ruta Antiguos

In [39]:
#Obtener los datos de la ruta antigua
df_antiguos = rutas['Antiguos']
df_nuevos = rutas['Nuevos']
df_cerrados = rutas['Grupos cerrados']

### Calcular recursos por CNO para Antiguos

In [40]:
asignacion_nuevos_antiguos = AsignacionNuevosAntiguos(df_antiguos, "antiguos")

In [41]:
asignacion_nuevos_antiguos.recursosxcno

,cod_CNO,ipo_ponderado,cuposxcno,ipo,n_programas,participacion_ipo,recursosxcno
0,1231,96.55,200,0.97,2,0.08,"107,569,094.89"
1,1345,99.75,160,1.25,2,0.08,"111,126,632.02"
2,2242,40.67,75,0.54,1,0.03,"45,308,756.34"
3,2281,55.23,83,0.67,1,0.05,"61,535,606.34"
4,3311,47.73,100,0.48,1,0.04,"53,180,231.95"
5,3315,95.98,160,1.20,2,0.08,"106,929,561.91"
6,4311,143.20,300,1.43,3,0.12,"159,534,807.57"
7,5223,15.08,30,0.50,1,0.01,"16,803,910.23"
8,6234,32.62,60,0.54,1,0.03,"36,345,828.22"
9,6322,158.20,285,1.11,2,0.13,"176,245,312.53"
10,6355,194.07,350,2.22,4,0.16,"216,212,381.46"
11,8325,205.74,410,2.51,5,0.17,"229,207,876.54"

## **Calcular asignaci√≥n de recursos**

### **Antiguos**

In [42]:
asignacion_antiguos = AsignacionAntiguos(df_antiguos)

In [43]:
columnas = ['ocupacion','codigo_programa','cod_CNO','ipo','isoeft_4d','recurso_asignado_2E','recurso_asignado_3E','Total_Recurso_Asignado']
asignacion_antiguos.segunda_asignacion[columnas].head(2)

,ocupacion,codigo_programa,codigo_programa,cod_CNO,ipo,isoeft_4d,recurso_asignado_2E,recurso_asignado_3E,Total_Recurso_Asignado
0,T√©cnicos en tecnolog√≠as de la informaci√≥n,42561,42561,2281,0.67,0.39,"60,389,550.00","37,162,800.00","97,552,350.00"
1,Auxiliares administrativos en salud,43512,43512,1345,0.62,0.61,"106,777,551.60",0.00,"106,777,551.60"

In [44]:
asignacion_antiguos.programas_remanente.head(2)

,ruta_habilitada,nombre_institucion,ocupacion,nombre_programa,codigo_programa,ipo,Puntaje (nuevos y cerrados),Meta de vinculaci√≥n,valor_programa_indexado,numero_cupos_ofertar,...,codigo_programa,ipo_ponderado,recursosxcno,cupos_asignados_2E,recurso_asignado_2E,cupos_asignados_3E,recurso_asignado_3E,Total_Cupos_Asignados,Total_Recurso_Asignado,Saldo_Remanente_3E
0,Antiguos,KUEPA EDUTECH,T√©cnicos en tecnolog√≠as de la informaci√≥n,T√âCNICO LABORAL EN PROCESAMIENTO Y DIGITACI√ìN ...,42561,0.67,NaN,NaN,"4,645,350.00",83,...,42561,55.23,"61,535,606.34",13,"60,389,550.00",8,"37,162,800.00",21,"97,552,350.00","2,198,757.44"
1,Antiguos,FEE ESTUDIO EMPRESARIAL - CHAPINERO,Auxiliares administrativos en salud,T√âCNICO LABORAL EN AUXILIAR ADMINISTRATIVO EN ...,43512,0.62,NaN,NaN,"6,281,032.45",80,...,43512,49.87,"111,126,632.02",17,"106,777,551.60",0,0.00,17,"106,777,551.60","2,198,757.44"

In [45]:
format(asignacion_antiguos.recursos_asignados, ',.2f')

'1,317,801,242.56'

------

### **Nuevos**

In [46]:
asignacion_nuevos = AsignacionNuevos(df_nuevos)

In [47]:
asignacion_nuevos.programas_remanente.head(2)

,ruta_habilitada,nombre_institucion,ocupacion,nombre_programa,codigo_programa,ipo,Puntaje (nuevos y cerrados),Meta de vinculaci√≥n,valor_programa_indexado,numero_cupos_ofertar,...,cod_CNO3d,cod_CNO2d,cod_CNO1d,_ocupacion,isoeft_4d,codigo_programa,ipo_ponderado,recursosxcno,cupos_asignados_2E,recurso_asignado_2E
0,Nuevos,UNIVERSIDAD DE LA SABANA,T√©cnicos en tecnolog√≠as de la informaci√≥n,TECNICO LABORAL EN MANEJO DE HERRAMIENTAS PARA...,<NA>,0.67,15.00,0.00,"6,529,297.50",50,...,<NA>,<NA>,<NA>,NaN,NaN,<NA>,33.25,"589,967,275.83",27,"176,291,032.50"
1,Nuevos,UNIVERSIDAD DE LA SALLE,T√©cnicos en tecnolog√≠as de la informaci√≥n,T√âCNICO LABORAL EN SOPORTE Y MANTENIMIENTO DE TI,<NA>,0.67,15.00,0.00,"4,664,695.30",25,...,<NA>,<NA>,<NA>,NaN,NaN,<NA>,16.62,"589,967,275.83",0,0.00

In [48]:
format(asignacion_nuevos.recursos_asignados, ',.2f')

'967,490,963.63'

-----

### **Cerrados**

In [49]:
asignacion_cerrados = AsignacionCerrados(df_cerrados)

In [50]:
asignacion_cerrados.programas_remanente.head(2)

,ruta_habilitada,nombre_institucion,ocupacion,nombre_programa,codigo_programa,ipo,Puntaje (nuevos y cerrados),Meta de vinculaci√≥n,valor_programa_indexado,numero_cupos_ofertar,...,cod_CNO,cod_CNO3d,cod_CNO2d,cod_CNO1d,_ocupacion,isoeft_4d,codigo_programa,cupos_asignados_2E,recurso_asignado_2E,saldo_total_remanente
0,Grupos cerrados,CESDE BOGOT√Å,Auxiliares administrativos,T√âCNICO LABORAL COMO AUXILIAR ADMINISTRATIVO,54890,0.46,56.75,0.60,"6,018,610.43",90,...,1341,134,13,1,Auxiliares administrativos,0.63,54890,79,"475,470,224.10","3,541,275.90"
1,Grupos cerrados,MEDISED INSTITUCION DE EDUCACION PARA EL TRABA...,Auxiliares administrativos,T√âCNICO LABORAL EN AUXILIAR ADMINISTRATIVO,17507,0.46,32.38,0.00,"6,604,882.51",100,...,1341,134,13,1,Auxiliares administrativos,0.70,17507,0,0.00,"3,541,275.90"

----

### **Actualizar bolsa comun**

In [51]:
asignacion = AsignacionBase()

In [52]:
recursos_antiguos = asignacion_antiguos.recursos_disponibles
recursos_nuevos = asignacion_nuevos.recursos_disponibles
recursos_cerrados = asignacion_cerrados.recursos_disponibles

asignacion._actualizar_bolsa_comun(recursos_antiguos,recursos_nuevos,recursos_cerrados)

In [53]:
bolsa_comun = asignacion.bolsa_comun_disponible

-----

### **Asignaci√≥n de los recursos remanentes**

**Orden**
1. Cerrados
2. Nuevos
3. Antiguos

In [54]:
df_cerrados_remanente = asignacion_cerrados.asignar_remanente(bolsa_comun)
bolsa_comun = asignacion_cerrados.bolsa_comun_disponible
df_nuevos_remanente = asignacion_nuevos.asignar_remanente(bolsa_comun)
bolsa_comun = asignacion_nuevos.bolsa_comun_disponible
df_antiguos_remanente = asignacion_antiguos.asignar_remanente(bolsa_comun)

In [55]:
print(format(asignacion.bolsa_comun_disponible, ',.2f'))
print(format(asignacion_cerrados.bolsa_comun_disponible, ',.2f'))
print(format(asignacion_nuevos.bolsa_comun_disponible, ',.2f'))
print(format(asignacion_antiguos.bolsa_comun_disponible, ',.2f'))

28,249,069.72
4,174,627.99
4,174,627.99
762,727.84

In [57]:
asignacion_cerrados.programas_remanente['saldo_total_remanente']columns

Index(['ruta_habilitada', 'nombre_institucion', 'ocupacion', 'nombre_programa',
       'codigo_programa', 'ipo', 'Puntaje (nuevos y cerrados)',
       'Meta de vinculaci√≥n', 'valor_programa_indexado',
       'numero_cupos_ofertar', 'duracion_horas_programa',
       'numero_maximo_cupos', 'cod_CNO', 'cod_CNO3d', 'cod_CNO2d', 'cod_CNO1d',
       '_ocupacion', 'isoeft_4d', 'codigo_programa', 'cupos_asignados_2E',
       'recurso_asignado_2E', 'saldo_total_remanente'],
      dtype='object')