## Fijar el absolute path un directorio arriba

In [1]:
import sys
import os

# Add project root to Python path
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if project_root not in sys.path:
    sys.path.append(project_root)

-----

In [2]:
import pandas as pd
from asignacion.base import AsignacionBase
from asignacion.nuevosyantiguos import AsignacionNuevosAntiguos
from asignacion.antiguos import AsignacionAntiguos
from asignacion.nuevos import AsignacionNuevos

## Constantes

In [3]:
NOMBRE_ARCHIVO_HABILITADOS = "Habilitados final 26052025.xlsx"
NOMBRE_ARCHIVO_COMPLEMENTARIO = "Base final - Oferta Activa.pkl"

## Ejecuci√≥n

In [4]:
asignacion_base = AsignacionBase()

In [5]:
asignacion_base.validar_datos(NOMBRE_ARCHIVO_HABILITADOS)

Los errores quedaron logeados en: ../output/logs/validacion.log

/home/alejandro/Documentos/ATENEA/Despacho/Asignacion EFT OOP/asignacion/base.py:130: UserWarning: Existen columnas con espacios adicionales
  warnings.warn("Existen columnas con espacios adicionales", category=UserWarning)
/home/alejandro/Documentos/ATENEA/Despacho/Asignacion EFT OOP/asignacion/base.py:154: UserWarning: Existen columnas indispensables con valores nulos
  warnings.warn("Existen columnas indispensables con valores nulos", category=UserWarning)
/home/alejandro/Documentos/ATENEA/Despacho/Asignacion EFT OOP/asignacion/base.py:165: UserWarning: Existen columnas indispensables con tipado no adecuado
  warnings.warn("Existen columnas indispensables con tipado no adecuado", category=UserWarning)

In [6]:
rutas = asignacion_base.crear_rutas(NOMBRE_ARCHIVO_HABILITADOS, NOMBRE_ARCHIVO_COMPLEMENTARIO)

La llave es: codigo_programa. Ver diccionario para mayor detalle.
Programas que cruzaron: 39
Programas que NO cruzaron: 6

## Ruta Antiguos

In [7]:
#Obtener los datos de la ruta antigua
df_antiguos = rutas['Antiguos']
df_nuevos = rutas['Nuevos']

### Calcular recursos por CNO para Antiguos

In [8]:
asignacion_nuevos_antiguos = AsignacionNuevosAntiguos(df_antiguos, "antiguos")

In [9]:
asignacion_nuevos_antiguos.recursosxcno

,cod_CNO,ipo_ponderado,cuposxcno,ipo,n_programas,participacion_ipo,recursosxcno
0,1231,96.553104,200,0.965531,2,0.081492,107569094.893503
1,1345,99.746319,160,1.246829,2,0.084187,111126632.019618
2,2242,40.668754,75,0.542250,1,0.034325,45308756.339758
3,2281,55.233837,83,0.665468,1,0.046618,61535606.340338
4,3311,47.734124,100,0.477341,1,0.040288,53180231.951057
5,3315,95.979065,160,1.199738,2,0.081007,106929561.908235
6,4311,143.197086,300,1.431971,3,0.12086,159534807.566849
7,5223,15.083047,30,0.502768,1,0.01273,16803910.225406
8,6234,32.623706,60,0.543728,1,0.027535,36345828.224421
9,6322,158.196293,285,1.110149,2,0.133519,176245312.531834
10,6355,194.070393,350,2.217947,4,0.163797,216212381.456063
11,8325,205.735039,410,2.508964,5,0.173642,229207876.542917

### Calcular asignaci√≥n de recursos

In [10]:
asignacion_antiguos = AsignacionAntiguos(df_antiguos)

In [11]:
columnas = ['ocupacion','codigo_programa','cod_CNO','ipo','isoeft_4d','recurso_asignado_2E','recurso_asignado_3E','Total_Recurso_Asignado']
asignacion_antiguos.segunda_asignacion[columnas].head()

,ocupacion,codigo_programa,codigo_programa,cod_CNO,ipo,isoeft_4d,recurso_asignado_2E,recurso_asignado_3E,Total_Recurso_Asignado
0,T√©cnicos en electr√≥nica,57273,57273,2242,0.542250,NaN,4.262385e+07,3.409908e+07,7.672293e+07
1,Auxiliares en enfermer√≠a,33315,33315,3311,0.477341,0.525863,4.934089e+07,0.000000e+00,4.934089e+07
2,Auxiliares de educaci√≥n para la primera infancia,38448,38448,4311,0.477324,0.499078,1.536610e+08,0.000000e+00,1.536610e+08
3,Auxiliares de educaci√≥n para la primera infancia,52362,52362,4311,0.477324,NaN,0.000000e+00,0.000000e+00,0.000000e+00
4,Mercaderistas e impulsadores,4347,4347,6322,0.555075,NaN,1.734193e+08,0.000000e+00,1.734193e+08

## Ruta Nuevos

In [12]:
asignacion_nuevos = AsignacionNuevos(df_nuevos)

In [13]:
asignacion_nuevos.recursos_iniciales

990000000

In [14]:
asignacion_nuevos.recursos_disponibles

np.float64(17398910.675873995)

In [15]:
asignacion_nuevos.recursos_asignados

np.float64(972601089.324126)